page-report-for-labs-or-centers {
  
    .btn-primary {
        color: #fff;
        background-color: #016a38;
        border-color: #016a38;
        width:70%;
    }
    .btn-primary:focus {
        box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
        -webkit-box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
        border-color: #016a38;
        color: #fff;
    }
      .btn-primary:hover {
        color: #fff;
        background-color: #016a38;
        border-color: #016a38;
    }
      .btn-primary:not(:disabled):not(.disabled):active{
        color: #fff;
        background-color: #016a38 !important;
        border-color: #016a38 !important;
    }
    .btn:disabled {
        background-color: #dddddd !important ;
        border-color: #dddddd  !important;
    }
    .btn-primaryx {
        color: #fff;
        background-color: #016a38;
        border-color: #016a38;
        width:70%;
    }
    .btn-primaryx:focus {
        box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
        -webkit-box-shadow: 0 0 0 0.2rem rgba(169, 167, 167, 0.17);
        border-color: #016a38;
        color: #fff;
    }
      .btn-primaryx:hover {
        color: #fff;
        background-color: rgba(1, 106, 56, 0.2313725);
        border-color: #016a38;
    }
      .btn-primaryx:not(:disabled):not(.disabled):active{
        color: #fff;
        // background-color: #016a38 !important;
        border-color: #016a38 !important;
    }

    .deleteIcon {
      color: #016a38 !important;
      position: absolute !important;
      top: 1px;
      right: 4px;
    }

    .deleteIconWrapper {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 1px solid #016a38;
      padding: 5px;
      background-color: #fff;
      position: absolute !important;
      right: -9px;
      top: -10px;
    }

    .deleteIconWrapperFile {
      width: 22px;
      height: 22px;
      border-radius: 50%;
      border: 1px solid #016a38;
      background-color: #fff;
    }

    .deleteIcon:before {
      font-size: 17px !important;
    }

    .label-md {
      margin: 6px 8px 4px 0;
    }

    
}
