page-working-days {
    font-family: HarfWebCD;

    .text-input-md {
      margin: 5px 8px !important;
      text-align: center;
    }
  
    #btnLogin {
      background-color: #996478;
      width: 50%;
    }
  
    ion-picker-cmp {
      direction: ltr !important;
    }
  
    .picker-md {
      direction: ltr !important;
    }

    .select-md {
        padding: 0px;
        }

        .select-ios {
            padding: 0px;
            }

            .select-md .select-icon {
                margin:  0px 5px;
            }

            .select-ios .select-icon {
                margin:  0px 5px;
            }
}
