<ion-header class={{lang_direction}}>
 
    <ion-navbar >
      <ion-title> {{"workingDays" | translate }} </ion-title>
      <ion-buttons style="display: inherit;" right>
        <button ion-button icon-only  ><img src="assets/imgs/dlogo.png" width="25" height="25" style="border: 0px;"></button>
    </ion-buttons>
    </ion-navbar>
  
  </ion-header>

<ion-content padding>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  
  <ion-row style="color: #868080;text-align: center;margin:8px" >
    <ion-col>اليوم</ion-col>
    <ion-col>من</ion-col>
    <ion-col>إلى</ion-col>
  </ion-row>
  <!-- background-color: #d5e6d5; -->
  <!-- border: 2px solid lightgray;  -->

<div *ngFor="let item of days; let i = index">
<ion-row  style="text-align: center;margin:8px;box-shadow: 2px 2px #eae4e4;border-radius: 5px;border: 1px solid #eae4e4;"   >
  <ion-col > 
    <!-- <div> -->
 
    <ion-checkbox [(ngModel)]="item[0].checked" (click)="dayChecked(item)" style="margin-top: 5px;"></ion-checkbox>
  <!-- </div> -->
  
    <!-- <ion-checkbox [(ngModel)]="item.checked" (click)="doctorChecked(item ,$event)" [disabled]="item.offline"></ion-checkbox>   -->
    <!-- margin-top:18px; -->
    <p style="margin: 0px;color: #868080;">{{item[0].day}}</p> 
    <p (click)="resetDay(item)" style="color: #016a38;margin-bottom: 0px;">إعادة الضبط</p> 
  </ion-col>

  <ion-col>

    <ion-row>
      <!-- (click)="chooseDate()" -->
  <ion-col style="padding: 0px;" >
    <!-- <ion-datetime displayFormat="h:mm A" pickerFormat="h:mm A" value="1990-02-19T07:43Z"></ion-datetime>   -->
    <!-- displayFormat="HH:mm " -->
      <div style="background-color: #075a07;width: 60%;height: 90%;    margin: auto auto;" >
       
         <!-- nnn -->
          <!-- <ion-label style="margin:0px"> {{mendata}} </ion-label> -->
          <!-- value="{{todayTime}}" -->
          <!-- min="{{mindate}}" -->
          <!-- #changeTime  (ionChange)="handleChangeDate(item[1][0],item)" -->
        <ion-datetime  style="font-size: 10px !important;color: white;" placeholder="من" displayFormat="hh:mm a" [(ngModel)]="item[1][0]" [disabled]="!item[0].checked" cancelText="إلغاء" doneText="موافق"></ion-datetime>
      </div>
    
  </ion-col>
 
    </ion-row>
    <ion-row>

    
    <ion-col style="padding: 0px;">
      <div style="background-color: #075a07;width: 60%;height: 90%;    margin: auto auto;">
        <!-- (ngModelChange)="dateChanged(item[2][0])" -->
        <ion-datetime style="font-size: 10px !important;color: white;" placeholder="من" displayFormat="hh:mm a" [(ngModel)]="item[2][0]" [disabled]="!item[0].checked" cancelText="إلغاء" doneText="موافق"></ion-datetime>
      </div>
      </ion-col> 
  </ion-row>

  </ion-col>
  <ion-col> 


      <ion-row>
          <ion-col style="padding: 0px;">
            
            <!-- cd0724 -->
            <div style="background-color: #ab051d;width: 60%;height: 90%;    margin: auto auto;">
              <ion-datetime style="font-size: 10px !important;color: white;" placeholder="إلى" displayFormat="hh:mm a" [(ngModel)]="item[1][1]" [disabled]="!item[0].checked" cancelText="إلغاء" doneText="موافق"></ion-datetime>
          </div>

          </ion-col>
         
            </ion-row>
            <ion-row>
        
            
            <ion-col style="padding: 0px;">
              <div style="background-color: #ab051d;width: 60%;height: 90%;    margin: auto auto;">
                <ion-datetime style="font-size: 10px !important;color: white;" placeholder="إلى" displayFormat="hh:mm a" [(ngModel)]="item[2][1]" [disabled]="!item[0].checked" cancelText="إلغاء" doneText="موافق"></ion-datetime>
            </div>
              </ion-col> 
          </ion-row>

          
    

    
  </ion-col>
    
</ion-row>
<p *ngIf="item[0].err" style="color: red;padding-right: 9px;" >{{item[0].err}}</p>
</div>


<ion-item no-lines style="text-align:center;width:100%">
 
<button ion-button type="submit"   style="font-size:16px;background-color: #016a38;color:white;border:2px solid #016a38;width:35%;padding:15px;text-align:center;" (click)="save()" [disabled]="savebtnClicked" > {{"save" | translate}}</button>
</ion-item>

  <!-- <ion-card>

    <ion-item>
        <ion-label style="color:#016a38">اليوم</ion-label>

    <ion-select  style="color:#016a38;" [dir]="langDirection"  [(ngModel)]="day"   okText="موافق" cancelText="إلغاء"  >
      
   
  <ion-option value="0">السبت</ion-option>
  <ion-option value="1">الأحد</ion-option>
  <ion-option value="2">الأثنين</ion-option>
  <ion-option value="3">الثلاثاء</ion-option>
  <ion-option value="4">الأربعاء</ion-option>
  <ion-option value="5">الخميس</ion-option>
  <ion-option value="6">الجمعه</ion-option>
</ion-select>
</ion-item>
<ion-row style="margin: 0px;">
  <ion-col  style="padding: 0px;">
    <ion-label style="color:#016a38">الفترة من</ion-label>
  </ion-col>
    <ion-col style="padding: 0px;" >
      <ion-datetime style="font-size: 10px !important;" placeholder="HH:mm" displayFormat="hh:mm A" [(ngModel)]="from"  cancelText="إلغاء" doneText="موافق">
          <ion-icon right ios="md-calendar" md="md-calendar"></ion-icon>
        </ion-datetime>
  </ion-col>
  <ion-col  style="padding: 0px;">
      <ion-label style="color:#016a38">إلي</ion-label>
  </ion-col>
  <ion-col  style="padding: 0px;">
      <ion-datetime style="font-size: 10px !important;" placeholder="HH:mm" displayFormat="hh:mm A" [(ngModel)]="to"  cancelText="إلغاء" doneText="موافق">
          <ion-icon right ios="md-calendar" md="md-calendar"></ion-icon>
        </ion-datetime> 
  </ion-col>
</ion-row>
<ion-item no-lines style="text-align:center;width:100%">
 
  <button ion-button type="submit"   style="font-size:16px;background-color: #016a38;color:white;border:2px solid #016a38;width:35%;padding:15px;text-align:center;" (click)="save()">{{"save" | translate}}</button>
</ion-item>

</ion-card> -->

<!-- <ion-datetime style="font-size: 10px !important;" placeholder="HH:mm" displayFormat="hh:mm A" [(ngModel)]="from"  cancelText="{{'btnCancel' | translate}}" doneText="{{'btnOk' | translate}}">
    <ion-icon right ios="md-calendar" md="md-calendar"></ion-icon>
  </ion-datetime>
  <ion-datetime style="font-size: 10px !important;" placeholder="HH:mm" displayFormat="hh:mm A" [(ngModel)]="to"  cancelText="{{'btnCancel' | translate}}" doneText="{{'btnOk' | translate}}">
      <ion-icon right ios="md-calendar" md="md-calendar"></ion-icon>
    </ion-datetime> -->
  
  <!-- <h3 style="text-align:center; margin:10px;">{{'WeekDays'| translate}}</h3>
  <ion-row style="font-size:17px;">
    <ion-col col-3>
      {{'Day' | translate}}
    </ion-col>
    <ion-col col-3>
      {{'Vacation' | translate}}
    </ion-col>
    <ion-col col-3>
      {{'From' | translate}}
    </ion-col>
    <ion-col col-3>
      {{'To' | translate}}
    </ion-col>
  </ion-row>
  <ion-row *ngFor="let item of weekDays">
    <ion-col col-3 style="margin-top: 5px; color:#93528a; font-weight:bold; font-size:16px;">
      {{item.opening_day == 6 ? (this.platform.isRTL ? 'السبت' : 'Saturday'): ''}}
      {{item.opening_day == 7 ? (this.platform.isRTL ? 'الأحد' : 'Sunday'): ''}}
      {{item.opening_day == 1 ? (this.platform.isRTL ? 'الأثنين' : 'Monday'): ''}}
      {{item.opening_day == 2 ? (this.platform.isRTL ? 'الثلاثاء' : 'Tuesday'): ''}}
      {{item.opening_day == 3 ? (this.platform.isRTL ? 'الأربعاء' : 'Wednesday'): ''}}
      {{item.opening_day == 4 ? (this.platform.isRTL ? 'الخميس' : 'Thursday'): ''}}
      {{item.opening_day == 5 ? (this.platform.isRTL ? 'الجمعة' : 'Friday'): ''}}
    </ion-col>
    <ion-col col-3>
      <ion-checkbox [(ngModel)]="item.open_status" color="kawaeb" checked="true" style="margin-top: 10px;"></ion-checkbox>
    </ion-col>
    <ion-col col-3>
      <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey; width:94%; height:90%;">
        <ion-datetime style="font-size: 10px !important;" placeholder="HH:mm" displayFormat="hh:mm A" [(ngModel)]="item.open_in" cancelText="{{'btnCancel' | translate}}" doneText="{{'btnOk' | translate}}">
          <ion-icon right ios="md-calendar" md="md-calendar"></ion-icon>
        </ion-datetime>
      </ion-item>
    </ion-col>
    <ion-col col-3>
      <ion-item style="margin: 0px; box-shadow: 1px 1px 1px 1px lightgrey; width:94%; height:90%;">
        <ion-datetime style="font-size: 10px !important;" placeholder="HH:mm" displayFormat="hh:mm A" [(ngModel)]="item.open_out"  cancelText="{{'btnCancel' | translate}}" doneText="{{'btnOk' | translate}}">
          <ion-icon right ios="md-calendar" md="md-calendar"></ion-icon>
        </ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-row style="margin-top:20px;">
    <ion-col>
      <button style="font-size:18px;" *ngIf="weekDays.length > 0" ion-button round id="btnLogin" (click)="updateWorkTimes()">{{'Save' | translate}}</button>
    </ion-col>
  </ion-row> -->
</ion-content>
